# Задания для самостоятельного выполнения

**Подсказка!** проверяйте ваше решение по тому, что уже есть в блоках вывода ячеек

## Задание 1

Создайте список (list) с элементами от 1 до 10 включительно двумя разными способами:
* при помощи list comprehensions
* при помощи цикла for

In [14]:
list = [i for i in range (11)]   #list comprehension
print (list[1:11])

listtwo = []                     #цикл for
for i in range(10):
    listtwo.append(i + 1)
listtwo

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Задание 2

Создайте список (list) с **четными** элементами из промежутка от 1 до 10 включительно двумя разными способами:
* при помощи list comprehensions
* при помощи цикла for

In [21]:
list = [i for i in range (2, 11, 2)]   #list comprehension
print (list)


listtwo = []                     #цикл for
for i in range(11):
  if i%2 == 0 and i!=0:
    listtwo.append(i)
  else:
    continue
listtwo

[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

## Задание 3
присвойте переменной **x** следующее значение:
$$
x=100^{3^{2}}-\frac{10^{3}}{5^{2}}
$$
Выведите, чему теперь равна переменная **x**

In [29]:
#Ваше решение тут
x = (100**3)**2 - (10**3)/(5**2)
print (x)

999999999960.0

## Задание 4

Найдите, истинно ли, что 3 в 15 степени больше 3000 при условии, что 3 в 7й степени меньше 7 в 5й.

In [33]:
#Ваше решение тут
a = 3**15 > 3000
b = 3**7 < 7**5
if a == b:
  print (a)
else:
  print (not a)

True

## Задание 5
Мы принимаем целое число на ввод с клавиатуры (код предоставлен), вывести "цена выше рынка", если число выше 1200, "цена ниже рыночной", если число меньше 800 и "все ок" в остальных случаях.

In [37]:
price = int(input('Введите цену товара: '))
#Ваше решение тут
if price>1200:
  print ('Цена выше рынка')
elif price<800:
  print ('Цена ниже рыночной')
else:
  print ('все ок')

Введите цену товара: 1000
все ок

## Задание 6

Даны два словаря: dictionary_1 = {'price_1': 300, 'price_2': 400} и dictionary_2 = {'price_1': 500, 'price_3': 600}. Объедините их в один при помощи встроенных функций языка Python (методов объекта dict).

In [43]:
#Ваше решение тут
dictionary_1 = {'price_1': 300, 'price_2': 400}
dictionary_2 = {'price_1': 500, 'price_3': 600}
dictionary_1.update(dictionary_2)
dictionary_1

{'price_1': 500, 'price_2': 400, 'price_3': 600}

## Задание 7
Сравните время, затраченное на вычисление частного списков list со значениями от 1 до 10^6 и время, затраченное на вычисление частного массивов типа numpy arrays со значениями от 1 до 10^6 (см. пункт " Numpy array vs Python list" в этом ноутбуке)

*Подсказка! для генерации list используйте функцию range(), для генерации numpy array - np.arange()*

In [50]:
#Ваше решение тут
import numpy as np
import time
list1 = [i for i in range (1, 10**6, 1)]
list2 = [i for i in range (1, 10**6, 1)]
array1 = np.arange(1, 10**6, 1)   
array2 = np.arange(1, 10**6, 1)
print("\n Частное массивов :")
initialTime = time.time()
resultantList = [(a / b) for a, b in zip(list1, list2)]
print("Время затраченное на деление списков типа list:",  
      (time.time() - initialTime), 
      "секунд")
initialTime = time.time()
resultantArray = array1 / array2
print("Время затраченное на деление массивов типа ndarray:", 
      (time.time() - initialTime), 
      "секунд")

 Частное массивов :
Время затраченное на деление списков типа list: 0.0952901840209961 секунд
Время затраченное на деление массивов типа ndarray: 0.005180835723876953 секунд

## Задание 8

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.
Подсказка: переменную типа int можно привести к типу str:
```
x = 5
y = str(x)
```

In [53]:
#Ваше решение тут
for i in range(500):
  if i % 7 == 0 and '8' in str(i):
    print(i)

28
84
98
168
182
189
238
280
287
308
378
385
448
483

## Задание 9
Дан массив строк mas. Одной строкой создайте словарь, в котором по ключу строки будет записана пара (кортеж длины 2) (индекс строки в массиве mas, длина строки)

In [56]:
mas = ['abc', 'def', 'hello', 'world']
#Ваше решение тут
print ({value: (index, len(value),) for index, value in enumerate(mas)})

{'abc': (0, 3), 'def': (1, 3), 'hello': (2, 5), 'world': (3, 5)}

## Задание 10
Реализовать функцию, которая сохраняет в 2 глобальные переменные:
сумму всех позиционных аргументов - релизовать через lambda;
название всех именованных аргументов в виде списка.

In [72]:
summ = 0
names = []
def another_func(*args, **kwargs):
  global summ
  global names
  a = lambda x : sum(x)
  summ = a(args)
  names = list(kwargs)
  return summ, names


another_func(1, 2, 3)
print(f'Cумма {summ}, названия {names}')

TypeError: ignored